<header class="p-3 bg-dark text-white">
  <div class="containerr">
    <h2>Currency Converter</h2>
  </div>
</header>
<div class="outer">
  <div class="main p-3 mb-2 bg-light text-dark">
    <div class="amount">
      <div class="form-group">
        <input type="number" class="form-control" id="amountTextBox" [(ngModel)]="AmountToBeConverted" placeholder="Enter Amount">
      </div>
    </div>
    <div class="source">
      <mat-form-field appearance="fill">
        <mat-label>From</mat-label>
          <mat-select [(value)]="source">
            <mat-option *ngFor="let item of arr"  [value]="item"> {{item.name}} </mat-option>
          </mat-select>
      </mat-form-field>
    </div>
    <div class="swap">
      <button type="button" class="btn btn-light" (click)="swap()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"></path>
        </svg>
      </button>
    </div>
    <div class="target">
      <mat-form-field appearance="fill">
        <mat-label>To</mat-label>
          <mat-select [(value)]="target">
            <mat-option *ngFor="let item of arr"  [value]="item"> {{item.name}} </mat-option>
          </mat-select>
      </mat-form-field>
    </div>
    <div class="result">
      <div *ngIf="displayResult;else templateName">
        <label class="label__Label-znf1ar-0 gaychB" for="amountTextBox">Converted Amount</label>
        <input type="number" class="form-control" id="amountTextBox" [value]="ConvertedAmount" disabled>
      </div>   
      <ng-template #templateName>
        We use mid-market rates
      </ng-template>
    </div>
    <div class="convert">
      <button type="button" class="btn btn-primary" (click)="convert()">Convert</button>
    </div>
  </div>
</div>